* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
}

body {
       font-family: 'Oswald', cursive;
    font-size: 16px;
    background-size: 200% 100% !important;
    animation: move 10s ease infinite;
    transform: translate3d(0, 0, 0);
    background: linear-gradient(45deg, #B2AC88 10%,  #daded4 90%);
    height: 100vh;
}

a {
    color: #506369;
    font-size: larger;
}

.container {
    margin: auto;
    max-width: 500px;
    width: 200%;
    max-width: 600px;
    margin: 10vh auto;
}
.logo-signup {
    max-width: 96px;
    max-height: 96px;
}

.navbar {
    background-color: aliceblue;
}

.nav-link {
    color: rgb(44, 63, 44);
    font-weight: bolder;
    text-align: right;
    font-variant-caps: normal;
  }


.user-header {
    text-align: center;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 300ms ease-in-out 0.5s forwards;
}

.user-title {
    font-size: 14px;
    margin-bottom: -10px;
    font-weight: 500;
    color: white;
}

.signup, .login {
    margin-top: 40px;
    border-radius: 6px;
    overflow: hidden;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 500ms ease-in-out 0.9s forwards;
}

.form--no {
    animation: NO 1s ease-in-out;
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.form-input {
    display: block;
    width: 100%;
    padding: 20px;
     font-family: 'Oswald', cursive;
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    transition: 0.3s;
}
    /* &:focus {
        background: darken(#fff, 3%);
    }
} */

.btn {
    display: block;
    width: 100%;
    padding: 20px;
   font-family: 'Oswald', cursive;
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    color: white;
    background: #aba194;
    transition: 0.3s;
/* 
    .btn:hover {
        background: darken(#aba194, 5%);
    } */
}

/* .row-in {
    align-items: center;
} */

@keyframes NO {
    from,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

@keyframes arrive {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes move {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }

    100% {
        background-position: 0 0;
    }
}
