/* App.HTML Styling */

* body {
  /* background-color: whitesmoke; */
  background-size: 200% 100% !important;
  animation: move 10s ease infinite;
  transform: translate3d(0, 0, 0);
  background: linear-gradient(45deg, #b2ac88 10%, #daded4 90%);
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
}

.navbar {
  background-color: aliceblue;
  text-align: end;
}
.nav-link {
  color: rgb(44, 63, 44);
  font-weight: bolder;
  text-align: right;
  font-variant-caps: normal;
}
/* .logo {
  color: #3c403d;

} */
.logo h1 {
  padding-top: 35px;
  font-size: 70px;
  color: rgb(73, 78, 74);
  font-family: 'Pacifico', cursive;
}
.logo h3 {
  padding-top: 3pt;
  text-align: left;
  margin-left: 10rem;
  font-weight: bold;
  font-size: 35px;
  color: rgb(73, 78, 74);
  font-family: 'Niconne', cursive;
}

.logo-signup {
  max-width: 100px;
  max-height: 100px;
}

.carousel {
  border-style: solid;
  border-width: 10pt;
  border-color: rgb(88, 141, 129);
  padding-bottom: 50pt;
  background: linear-gradient(45deg, #b2ac88 10%, #daded4 90%);
}

@media (max-width: 768px) {
  .carousel-inner .item {
    height: 400px;
  }
}

.carousel-caption {
  position: fixed;
}

.carousel-caption p {
  color: rgb(26, 36, 28);
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.carousel-item {
  bottom: 0;
  border-image: none;
  height: 400px;
  width: 100%;
}

.carousel-item img {
  width: 100%;
  height: 400px;
  min-height: 400px;
}

.search {
  border-style: solid;
  border-width: 12pt;
  border-color: rgb(88, 141, 129);
  padding-bottom: 50pt;
  padding-top: 20pt;
  /* font-family: 'Lilita One', cursive; */

  font-family: 'Alegreya Sans', sans-serif;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  background: linear-gradient(45deg, #b2ac88 10%, #daded4 90%);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
}

#cooking-label-title {
  text-shadow: darkgray;
  font-size: 65px;
  font-weight: bold;
  color: rgb(73, 78, 74);
  font-family: 'Niconne', cursive;
  margin-bottom: 20pt;
}

.btn {
  background-color: rgb(88, 141, 129);
  color: white;
}

.footer {
  background: #a3bcb6;
}

/* recipead.html */

.details {
  margin: 10%;
  padding-bottom: 8%;
  box-sizing: border-box;
  align-items: center;
}

.card {
  border-style: solid;
  border-width: 20pt;
  border-color: rgb(88, 141, 129);
  padding-bottom: 50pt;
  padding-top: 100pt;
  /* font-family: 'Lilita One', cursive; */

  font-family: 'Alegreya Sans', sans-serif;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  background: linear-gradient(45deg, #b2ac88 10%, #daded4 90%);
  margin: 5;
  padding: 0;
  top: 1;
  box-sizing: border-box;
  align-items: center;
}

/* recipeview.html */

#view-header {
  padding-top: 35px;
  font-size: 70px;
  color: rgb(73, 78, 74);
  font-family: 'Niconne', cursive;
}

/* .preview-images {
  display: flex;
  justify-content: center;
} */

#uploadedImage {
  padding-left: auto;
  padding-right: auto;
  height: 500px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  ;
}
