


  
  .three-column-footer-contact-form-container .three-column-footer-contact-form {
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
   
    padding: 3.75rem 0;
  }
  
  .three-column-footer-contact-form-container .three-column-footer-contact-form::before, .three-column-footer-contact-form-container .three-column-footer-contact-form::after {
    display: table;
    content: ' ';
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  
  .three-column-footer-contact-form-container .three-column-footer-contact-form::after {
    clear: both;
  }
  
  .three-column-footer-contact-form-container .three-column-footer-contact-form a {
    color: #e6e6e6;
  }
  
  .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-left {
    width: 100%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    
  }
  
  .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-left .baseline {
    display: table-cell;
    vertical-align: bottom;
  }
  
  .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-left .contact-details p {
    font-size: 0.8rem;
    margin-bottom: 0;
  }
  
  .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-left .input-group {
    padding: 2rem 0 0 0;
  }
  
  .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-left .input-group input {
    border-bottom: 2px solid #cacaca;
  }
  
  @media print, screen and (min-width: 40em) {
    .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-left {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
    }
  }
  
  .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-left:last-child:not(:first-child) {
    float: right;
  }
  
  @media print, screen and (min-width: 64em) {
    .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-left {
      width: 25%;
      float: left;
      padding-right: 0.625rem;
      padding-left: 0.625rem;
    }
  }
  
  @media print, screen and (min-width: 64em) and (min-width: 40em) {
    .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-left {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
    }
  }
  
  @media print, screen and (min-width: 64em) {
    .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-left:last-child:not(:first-child) {
      float: right;
    }
  }
  
  .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-center {
    text-align: left;
    width: 100%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    display: table;
  }
  
  @media print, screen and (min-width: 40em) {
    .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-center {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
    }
  }
  
  .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-center:last-child:not(:first-child) {
    float: right;
  }
  
  @media print, screen and (min-width: 64em) {
    .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-center {
      width: 33.33333%;
      float: left;
      padding-right: 0.625rem;
      padding-left: 0.625rem;
      position: relative;
      left: 8.33333%;
    }
  }
  
  @media print, screen and (min-width: 64em) and (min-width: 40em) {
    .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-center {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
    }
  }
  
  @media print, screen and (min-width: 64em) {
    .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-center:last-child:not(:first-child) {
      float: right;
    }
  }
  
  .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-center .baseline {
    display: table-cell;
    vertical-align: bottom;
  }
  
  .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-center .input-group {
    padding: 0.5rem 0 0 0;
  }
  
  .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-center .input-group input {
    border-bottom: 2px solid #cacaca;
  }
  
  .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-center .input-group textarea {
    border-bottom: 2px solid #cacaca;
  }
  
  .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-right {
    text-align: right;
    width: 100%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    display: table;
  }
  
  .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-right .baseline {
    display: table-cell;
    vertical-align: bottom;
  }
  
  .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-right h2 {
    color: #fefefe;
  }
  
  .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-right p {
    font-size: 0.8rem;
    margin-bottom: 0;
  }
  
  .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-right .fa {
    padding: 1rem 0 1rem 0.2rem;
  }
  
  @media print, screen and (min-width: 40em) {
    .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-right {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
    }
  }
  
  .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-right:last-child:not(:first-child) {
    float: right;
  }
  
  @media print, screen and (min-width: 64em) {
    .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-right {
      width: 25%;
      float: left;
      padding-right: 0.625rem;
      padding-left: 0.625rem;
    }
  }
  
  @media print, screen and (min-width: 64em) and (min-width: 40em) {
    .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-right {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
    }
  }
  
  @media print, screen and (min-width: 64em) {
    .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-right:last-child:not(:first-child) {
      float: right;
    }
  }
  
  #cooking-label{
      padding: 3.25rem;
      text-shadow: darkgray;
      font-size: 25px;
  }
  